* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

main {
  background: lightseagreen;
  padding: 1rem;
}

footer {
  background: lightcoral;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
